<div class="text-center">
    <p>Play some waiting music in your <a target="_blank" href="https://whereby.com">WhereBy</a> room, with hopefully the ability to link to YouTube coming soon :)</p>
    <form action="/play" method="post">
        <h3>Enter your room name below</h3>
        <input style="max-width:400px;margin:0 auto;" type="text" name="roomName" /><br>
        <button type="submit" id="playButton" class="button primary">Play Tune!</button>
    </form>
</div>